{% extends "layout.html.twig" %}

{% block content %}
    <div class="e-row">
        <div class="e-col-12">
            <h1>Hello World</h1>
            <p>
                Welcome to the Sample Integration. The purpose of this application is to give examples to some common integration scenarios.
            </p>
            <p>
                For further information please check the <a href="#">documentation</a>.
            </p>
        </div>
    </div>

    <hr class="e-separator" />

{% endblock %}
